<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.ssc"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <permission
        android:name="com.samsung.ssc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.samsung.ssc.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.samsung.ssc.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- for sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".SSCApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServiceIdList"
            android:exported="false"
            android:label="Select Service ID"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Announcement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreWorking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenuActivityListGrid"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.OutletWorking1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.ActivityDashboardChild"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.ActivityDashboardChildNonStoreWise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.QuestionnaireActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.BookOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.StockEscalation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.EOLOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.SellOutProjection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.Collections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.Geotag"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.SchemeAvailable"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeatCreation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BeatApproval"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeatManagement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationsListFragment2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.OutletProfile2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.AddCollectionDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitymodule.SchemeDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BeatsDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.DashboardReports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".util.updateApp.UpdateApp"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.PalnogramActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.PalnogramActivity1"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KPIListActivity1"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".sync.SyncService"
            android:exported="false" />
        <service
            android:name=".GCMRegIdService"
            android:exported="false" />
        <service
            android:name=".services.UpdateNotificationService"
            android:exported="false" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.samsung.ssc" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCkwjcOw4Z0Zn7JGzAhCmSguCNTKnH7NGo" />
        <!-- android:value="AIzaSyCkwjcOw4Z0Zn7JGzAhCmSguCNTKnH7NGo" -->
        <!-- AIzaSyAtU1LjWdv_eCcH_47xQCCKPJ0XMrvdc0w   Dwivedi system -->
        <!-- AIzaSyDGLznYaDw0EYy6lyuV8WhjELcJJRP88Xc   Sabya system -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MyTerritoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.CounterShareDisplayShareActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitymodule.FMSCreateFeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.FMSFeedbackTracker1"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activitymodule.ActivityFullScreenImageView"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.FeedbackDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.TakeActionFeedbackDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.DealerSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EOLNotificationShow"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Holo.Light"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DealerCreation"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DealerHistory"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.RaceProductAuditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.RaceProductAuditCartActivity1"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.RaceProductDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.RaceProductAuditCartItemUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.SODetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitymodule.TodaySchemesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MOM.MOMCreateActiviity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MOM.MOMDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MOM.MOMSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MOM.MOMListActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>

        <provider
            android:name=".provider.SSCContentProvider"
            android:authorities="com.samsung.ssc.provider"
            android:exported="false"
            android:label="SSC"
            android:multiprocess="true"
            android:syncable="true" />

        <receiver android:name=".receiver.DateChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.SyncServiceSyncAdapter"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".activitymodule.OutletProfile"
            android:label="@string/title_activity_outlet_profile"></activity>
        <activity
            android:name=".LMS.LMSListActivity"
            android:label="@string/title_activity_lmslist"></activity>
        <activity
            android:name=".LMS.LMSCreateLeaveActivity"
            android:label="@string/title_activity_lmscreate_leave"></activity>
        <activity
            android:name=".LMS.LeaveCalenderActivity"
            android:label="@string/title_activity_calender"></activity>
        <activity
            android:name=".LMS.LMSLeaveDetailActivity"
            android:label="@string/title_activity_lmsleave_detail"></activity>
        <activity
            android:name=".EMS.ExpenseListingActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".EMS.NewExpenseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".EMS.NewBillActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".EMS.SearchExpenseListingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".LMS.LMSLeaveActionActivity"
            android:label="@string/title_activity_lmsleave_action"></activity>
        <activity android:name=".LMS.LeaveListFilterActivity"></activity>
    </application>

</manifest>
